<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.st.leighton.lingobarterclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name="com.st.leighton.lingobarterclient.MyApplication"
        tools:replace="android:theme">
        <activity
            android:name=".Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:noHistory="true" />
        <activity
            android:name=".EmailConfirmation"
            android:noHistory="true" />
        <activity
            android:name=".ForgetPassword"
            android:noHistory="true" />
        <activity android:name=".BasicProfile" />
        <activity android:name=".ProfileSettings" />
        <activity
            android:name=".ChangePassword"
            android:noHistory="true" />
        <activity
            android:name=".SelfInformation"
            android:noHistory="true" />
        <activity
            android:name=".ApplicationSettings"
            android:noHistory="true" />
        <activity android:name=".Search" />
        <activity
            android:name=".UserProfile"
            android:noHistory="true" />

        <service
            android:name=".Webservice"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TESTING" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".test"></activity>
    </application>

</manifest>